.game__playground__ownplayer {
  height: 20%;
}

.game__playground__ownplayer__name {
  font-size: 2rem;
  text-align: center;
}

.game__playground__ownplayer__cards {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

