.game__playground__ownplayer {
  position: absolute;
  bottom: 0.5rem;
  left: 23%;
  display: flex;
  align-items: center;
}

.game__playground__ownplayer__name {
  font-size: 2rem;
  text-align: center;
  margin-right: 1rem;
}

.game__playground__ownplayer__cards {
  display: flex;
  justify-content: center;
}

