.game__playground__table {
  background-color: #95a5a6;
  width: 25rem;
  height: 18rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game__playground__table__opponent {
  position: absolute;
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
}