.card {
  margin: 0.2rem;
  width: 5rem;
  height: 7rem;
  border: 1px black solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.card__figure {
  font-size: 3rem;
}

.card__color {
  font-size: 1.2rem;
}

.red {
  border: 1px red solid;
  color: red;
}
