.game__playground__opponentplayer {
  position: absolute;
  top: 70px;
  left: -33px;
  border: 1px solid black;
  width: 12rem;
  height: 6rem;
  /* transform: rotate(-90deg) */
}

.game__playground__opponentplayer__name {
  font-size: 2rem;
  text-align: center;
}

.game__playground__opponentplayer__card {
  font-size: 2rem;
  text-align: center;
}