.game__playground__opponentplayer {
  position: absolute;
  top: 7rem;
  left: -3.3rem;
  border: 1px solid black;
  width: 12rem;
  height: 6rem;
}

.game__playground__opponentplayer__name {
  font-size: 2rem;
  text-align: center;
}

.game__playground__opponentplayer__card {
  font-size: 2rem;
  text-align: center;
}